<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="documentEmployee">
            <h2><span>Document Employee</span> {{documentEmployee.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Doc Name</span></dt>
                <dd>
                    <span>{{documentEmployee.docName}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{documentEmployee.description}}</span>
                </dd>
                <dt><span>Docpath</span></dt>
                <dd>
                    <span>{{documentEmployee.docpath}}</span>
                </dd>
                <dt><span>Employee</span></dt>
                <dd>
                    <div *ngIf="documentEmployee.employee">
                        <a [routerLink]="['/employee', documentEmployee.employee?.id, 'view']">{{documentEmployee.employee?.id}}</a>
                    </div>
                </dd>
                <dt><span>Job</span></dt>
                <dd>
                    <div *ngIf="documentEmployee.job">
                        <a [routerLink]="['/job', documentEmployee.job?.id, 'view']">{{documentEmployee.job?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/document-employee', documentEmployee.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
