<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="job">
            <h2><span>Job</span> {{job.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Job Title</span></dt>
                <dd>
                    <span>{{job.jobTitle}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{job.description}}</span>
                </dd>
                <dt><span>Start Date</span></dt>
                <dd>
                    <span>{{job.startDate}}</span>
                </dd>
                <dt><span>End Date</span></dt>
                <dd>
                    <span>{{job.endDate}}</span>
                </dd>
                <dt><span>Employee</span></dt>
                <dd>
                    <div *ngIf="job.employee">
                        <a [routerLink]="['/employee', job.employee?.id, 'view']">{{job.employee?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/job', job.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
